<div class="top-container">
  <div class="top-message">
    <h1>welcome to <strong>Bookers</strong> !!</h1>
  </div>
  <div class="top-text top-text-1">
    <p>In <strong>Bookers</strong>,</p>
  </div>
  <div class="top-text top-text-2">
    <p>you can share and exchange your opinions , inpressions , and emotions</p>
  </div>
  <div class="top-text top-text-3">
    <p>about various books!</p>
  </div>
  <div class="top-button">
    <div class="top-button-login">
      <a href="/users/sign_in">Log in</a>
    </div>
    <div class="top-button-signup">
      <a href="/users/sign_up">Sign up</a>
    </div>
  </div>
</div>